# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/DSA.iml
/misc.xml
/workspace.xml
/inspectionProfiles
/vcs.xml